    <!--navbar content-->

     <h1 class='title'>My Tech Blog</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
