    <!--navbar content-->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        
            {{#if isAuthenticated}}
      <li><a href="/logout" id="logoutLink">Log Out</a></li>
    {{else}}
      <li><a href="/login">Log In</a></li>
    {{/if}}
  </ul>
</nav>
