<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div id="main-content"></div>

    <!--navbar content-->

     <h1 class='title'>My Tech Blog</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Sign Up</a></li>
        </ul>
    </nav>

    

    {{!-- {{> blogContainer}} --}}


    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>