<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Link to your dashboard.css file for styling -->
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
{{> navbar}}
    <h1>Welcome to the Dashboard!</h1>
    
    <div id="dashboard-content">
    <a href="#section1">Section 1</a>
    <a href="#section2">Section 2</a>
    
</div>
    
    <script src="js/dashboard.js"></script>
</body>
</html>