<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <h1 id="dashboard-h1">Welcome to your Dashboard!</h1>
    
    <div id="dashboard-content">
<div id="new-post">
  <h2>Create New Post</h2>
  <form id="newPostForm">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label id="post-content" for="content">Content:</label>
    <textarea id="description" name="content" rows="4" required></textarea>

     <label for="name">User:</label>
     <input type="text" id="name" name="name" required>
 

    <button id='newPostBtn' type="submit">Create Post</button>
  </form>
</div>

<div id="dashboardBlogPostsContainer">
  {{#each blogPosts}}
    {{> blogpost}}
  {{/each}}
</div>

    <script src="js/dashboard.js"></script>
</body>
</html>