<!-- Homepage Handlebars Template -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
</head>
<body>

<div id="homepage-template">
  <h1 id="homeTitle">Welcome to My Blog!</h1>

  <div id="posts">Latest posts
    {{#if blogPosts.length}}
      <h2>Latest Blog Posts</h2>
      <ul>
        {{#each blogPosts}}
          <li>
            <a href="#" class="post-link" data-post-id="{{this.id}}">{{this.title}}</a>
            <p>{{this.dateCreated}}</p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No blog posts yet.</p>
    {{/if}}
  </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="./js/home.js"></script>