
  <link rel="stylesheet" href="css/style.css">

<!--homepage handlebars-->

<h1>Welcome to My Blog!</h1>

<div id= "posts"> Latest posts

{{#if blogPosts.length}}
  <h2>Latest Blog Posts</h2>
  <ul>
    {{#each blogPosts}}
      <li>
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts yet.</p>
{{/if}}
</div>




<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="./js/home.js"></script>