<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<!-- login.handlebars -->
<h2 id="login-title"></h2>
<form id="login-form">
  <div>
    <label for="username">Username/Email:</label>
    <input type="text" id="username" value="{{username}}" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" value="{{password}}" />
  </div>
  <button type="submit"></button> 
</form>

 <div id="no-account">Don't have an account?
 <a id="create-account" href="/signup">Click here to create an account.</a>

</div>

</body>
</html>
<script src="js/logIn.js"></script>