<!-- login.handlebars -->
<h2>Login</h2>
<form id="login-form">
  <div>
    <label for="username">Username/Email:</label>
    <input type="text" id="username" value="{{username}}" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" value="{{password}}" />
  </div>
  <button type="submit">Login</button>
</form>

<script src="logIn.js"></script>