/*main.handlebar.js*/ 

/* Nav bar */ 

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
}

/* Style for the nav bar links */
nav ul {
    list-style: none;
}

    
nav li {
        display: inline-block; /* Display links horizontally */
        margin-right: 20px; /* Add spacing between links */
}

nav a {
    color: #fff; /* Text color for links */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make the text bold */
  }