/*main.handlebar.js*/ 


body, html {
  margin: 0;
  padding: 0;
}

/* Nav bar */ 

title {
    margin-left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;

}

#homeTitle {
  text-align: center; 
  
}

nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin: 0;
    text-align: right;
    width: 100%;
}

/* Style for the nav bar links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    
 li {
        display: inline-block; /* Display links horizontally */
        margin-right: 20px; /* Add spacing between links */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       

}

nav a {
    color: #fff; /* Text color for links */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make the text bold */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }

  h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /*style for post container*/
  #posts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #posts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #posts h2 {
    color: #333;
  }
  
  #posts ul {
    list-style-type: none;
    padding: 0;
  }
  
  #posts li {
    margin-bottom: 20px;
  }
  
  #posts a {
    color: #007bff;
    text-decoration: none;
  }
  
  #posts a:hover {
    text-decoration: underline;
  }
  
  #posts p {
    color: #555;
  }